.vs/

*.user

*.suo

*.userosscache

*.sln.docstates

[Dd]ebug/

[Rr]elease/

x64/

x86/

build/

bld/

[Bb]in/

[Oo]bj/

!packages/build/

[Tt]est[Rr]esult*

[Bb]uild[Ll]og.*

*.VisualState.xml

TestResult.xml

*.edmx.diagram

*.edmx.sql

.edmx.

*.mdf

*.ldf

_ReSharper*/

*.[Rr]e[Ss]harper

_TeamCity*

*.dotCover

.ncrunch

.crunch.local.xml

[Ee]xpress/

DocProject/buildhelp/

DocProject/Help/*.HxT

DocProject/Help/*.HxC

DocProject/Help/*.HHP

DocProject/Help/Html2

*/site/

*/exported_templates/

_*/.docfx/build/

*.plg

*.opt

*/.HTMLClient/GeneratedArtifacts

*/.DesktopClient/GeneratedArtifacts

*/.DesktopClient/ModelManifest.xml

*/.Server/GeneratedArtifacts

*/.Server/ModelManifest.xml

PvtExtensions

.paket/paket.exe

paket-files/

.fake/

ASALocalRun/

[Bb]ackup*/

*.[Cc]ache

*.bak

*.swp

*~.nib

*.tmp

*.temp

*.pidb

*.booproj

*.svd

*.pdb

*.opendb

*.v12.suo

*.DS_Store

*.DS_Store?

*.AppleDouble

*.LSOverride

Icon?

._*

.Spotlight-V100

.Trashes

*.dSYM

*.ipa

*.app

*.apk

*.ap_

*.lib

*.a

*.la

*.lo

*.lai

*.class

*.jar

*.war

*.ear

*.swf

*.swc

*.d

*.ds_store

*.swp

*.swo

*~